.param-filter {
  border: 1px solid rgba(158, 158, 158, 0.2);
  border-bottom: none;
  max-height: 350px;
  overflow: auto;
}

.param-filter .param-name {
  background: rgba(158, 158, 158, 0.05);
  padding: 5px 10px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
}

.param-filter .param-name.param-name-selected {
  background: #3f51b5;
  color: white;
}

.param-filter .param-name i {
  cursor: pointer;
}


.param-filter .param-name.param-name-collapsed {
  border-bottom: 1px solid rgba(158, 158, 158, 0.2);
}

.param-filter .param-name.param-name-expanded {
  justify-content: space-between;
}

.param-filter .param-name .param-value-hint,
.param-filter .param-name .all-button {
  border-radius: 2px;
  font-weight: 600;
  padding: 0 5px;
  background: #ececec;
}

.param-filter .param-name .param-value-hint {
  margin-left: 10px;
}

.param-filter .param-name .all-button {
  cursor: pointer;
}

.param-filter .param-name .all-button.all-button-activated {
  background: #3f51b5;
  color: white;
}

.param-filter .param-values {
  border-top: 1px solid rgba(158, 158, 158, 0.2);
  border-bottom: 1px solid rgba(158, 158, 158, 0.2);
  overflow-y: auto;
}


.param-filter .param-values .param-value {
  padding: 10px;
  white-space: nowrap;
}

.param-filter .param-values .param-value {
  background: white;
  cursor: pointer;
}

.param-filter .param-values .param-value-selected.param-value {
  background: #3f51b5;
  color: white;
}

.param-filter .param-values {
  display: flex;
}

.param-filter .param-values .param-value {
  border-right: 1px solid rgba(158, 158, 158, 0.2);
}

.param-filter .param-values .param-value.param-value-default {
  font-weight: 500;
}

.param-filter .param-values .param-value .task-numbers {
  margin-left: 10px;
 background: #ededed;
  border-radius: 2px;
  color: #1c1c1c;
  font-weight: 300;
  padding: 0 2px;
}

.param-filter .param-values .param-value input {
  padding: 0;
  border: 1px solid rgba(158, 158, 158, 0.2);
}

.param-filter .group-header {
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    font-weight: 300;
    justify-content: center;
    font-size: 24px;
    padding: 0 0 0 16px;
    text-transform: uppercase;
}

.param-viewer > input {
    width: calc(100% - 32px);
    margin: 10px 16px;
    display: flex;
}

.param-viewer .table-cols {
  display: flex;
}

.param-viewer .table-cols .table-col {
  flex: 1 1 0;
  margin: 10px;
}

.param-viewer .table-cols .table-col .table-col-entry  {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: grab;
}

.param-viewer .table-cols .table-col .table-col-dummy {
  height: 30px;
  margin: 5px 0;
}

.param-viewer .table-cols .table-col .table-col-dummy.on-drag-over,
.param-viewer .table-cols .table-col .table-col-entry.on-drag-over {
  border: 3px dashed #3f51b5;
  box-shadow: none;
}

.param-viewer .table-cols .table-col .table-col-entry i {
  margin-left: 5px;
  cursor: pointer;
}

.param-viewer .table-cols .table-col .table-col-entry div {
  flex: 2 1 0;
}

.param-viewer .param-filter:empty {
  border: none;
}


#project-manager #projects .project .param-viewer .param-filter ul,
.param-viewer .param-filter ul {
  padding: 0;
  margin-bottom: 0;
}

#project-manager #projects .project .param-viewer .param-filter ul .item,
.param-viewer .param-filter ul .item{
  list-style: none;
}

#project-manager #projects .project .param-viewer .param-filter ul .item-param .header,
.param-viewer .param-filter ul .item-param .header{
  height: auto;
  padding: 5px 10px;
  background: rgba(158, 158, 158, 0.05);
  cursor: grab;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


#project-manager #projects .project .param-viewer .param-filter ul .item-param.on-drag-over,
.param-viewer .param-filter ul .item-param.on-drag-over {
    border: 3px dashed #3f51b5;
    box-shadow: none;
}

#project-manager #projects .project .param-viewer .param-filter ul .item-param.on-drag-over .header,
.param-viewer .param-filter ul .item-param.on-drag-over .header
{
    visibility: hidden;
}


#project-manager #projects .project .param-viewer .param-filter ul .item-param .header .title,
.param-viewer .param-filter ul .item-param .header .title{
  font-size: initial;
  font-weight: initial;
}


#project-manager #projects .project .param-viewer .param-filter ul .item-param .header .grip-icon,
.param-viewer .param-filter ul .item-param .header .grip-icon{
  height: auto;
  width: auto;
}


.param-viewer .param-filter #tb-link {
    background: #F57C00;
    color: white;
    border-radius: 2px;
    padding: 0 3px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.param-viewer .param-filter {
  max-height: 500px;
  overflow-y: auto;
}