@import "layout";
@import "common";

@import "editor";
@import "prompt";
@import "param_filter";

#root > #page > .container {
  height: 100%;
}

.task-table-wrapper {
  flex: 2 1 0;
  overflow: auto;
}

.task-table {
  width: calc(100% - 1px);
  border-collapse: separate;
  border-spacing: 0;
}

.task-table th {
  position: sticky;
  background: white;
  top: 0;
  padding: 5px 10px;
}

.task-table th,
.task-table td {
  border-bottom: 1px solid rgba(158, 158, 158, 0.2);
}

.task-table th i {
  cursor: pointer;
  margin-left: 5px;
}

.task-table .table-row:nth-child(odd) {
  background: rgba(158, 158, 158, 0.05);
}

.task-table .table-row td {
  padding: 10px;
}


.task-table .table-row.group-header {
    padding: 10px;
    background: rgba(158, 158, 158, 0.2);
    border: 1px solid #d9d9d9;
    border-left: 0;
    cursor: pointer;
    border-right: 0;
}



.task-table .table-row.group-header .title {
    align-items: end;
}

.task-table .table-row.group-header .title i {
    margin-right: 5px;
    font-size: 20px;
}

.task-table .task-table-header .sort-active {
  color: #3f51b5;
}

.task-table .collapse-toggle {
  padding: 5px;
  background: #e5e5e5;
  font-weight: 300;
  cursor: pointer;
}

.task-table .collapse-toggle > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-table .collapse-toggle > div i {
  margin-right: 5px;
}