.editor.task-editor {
    flex: 1 1 0;
}

.editor .header {
    padding: 5px 16px;
    background: rgba(158,158,158,.2);
}

.editor .field {
    margin: 10px 16px;
}

.editor .preset-filter {
    margin: 30px 16px;
}

.editor .field {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.editor .field label {
    margin: 0;
    width: 150px;
}

.editor .field input,
.editor .field select {
    flex: 2 1 0;
    margin-left: 16px;
    padding-left: 5px;
}

.editor .field input[type="checkbox"] {
    flex: none;
}


.editor .jsoneditor {
    width: calc(100% - 32px);
    resize: vertical;
    margin: 16px;
    height: 250px;
    border-color:  #3f51b5;
}


.editor .jsoneditor-readOnly .jsoneditor {
    border-color: rgba(158,158,158,.2);
    height: auto;
}

.editor .jsoneditor-readOnly .ace-jsoneditor .ace_marker-layer .ace_active-line,
.editor .jsoneditor-readOnly .ace-jsoneditor .ace_gutter-active-line {
    background-color: inherit;
}

.editor .jsoneditor-readOnly .ace-jsoneditor .ace_scroller {
    background-color: rgba(158,158,158,.1);
}

.editor .jsoneditor-readOnly .ace_cursor-layer {
    display: none;
}

.editor .editor-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 16px;
}

.editor .jsoneditor div.jsoneditor-menu {
    background-color: #3f51b5;
    border-color:  #3f51b5;
}


.task-editor .command {
    cursor: pointer;
}